*, *::before, *::after {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
}
h1 {
    margin-top: 15vh;
}
.center {
  text-align: center;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal h1, button, a {
  background-color: plum;
  color: white;
  text-align: center;

}
@media all and (min-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: 150px 150px 150px;;
    margin: 0 40vh 20vh;
    padding: 10px;
    width: 50%;
  }
  .grid-item {
    background-color: rgba(142, 69, 133, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 65px;
    text-align: center;
    min-width: 150px;
    min-height: 150px;
    /* max-width: 200px;
    max-height: 200px; */
  }

}
@media all and (max-width: 699px) and (min-width: 416px) {
  .grid-container {
    display: grid;
    grid-template-columns: 125px 125px 125px;
    /* background-color: #2196F3; */
    margin: 0 10vh 20vh;
    padding: 10px;
    width: 50%;
  }
  .grid-item {
    background-color: rgba(142, 69, 133, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 50px;
    text-align: center;
    min-width: 125px;
    min-height: 125px;
    /* max-width: 200px;
    max-height: 200px; */
  }
}
@media all and (max-width: 415px) {
  .grid-container {
    display: grid;
    grid-template-columns: 110px 110px 110px;
    margin: 0;
    /* background-color: #2196F3; */

    width: 40%;
  }
  .grid-item {
    background-color: rgba(142, 69, 133, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 50px;
    text-align: center;
    min-width: 110px;
    min-height: 110px;
    /* max-width: 200px;
    max-height: 200px; */
  }
}
